*.csv
*.json
*.tsv

*.npy
*.npz
*.pkl
*.joblib

*.ckpt
*.pt
*.pth
*.log

.ipynb_checkpoints/

__pycache__/
*.pyc

.DS_Store
Thumbs.db

.env
*.env

*.tmp
*.bak

echo "hf_personality_model/" >> .gitignore

__pycache__/hf_personality_model/
